config 'gateway' 'gateway'
        option server_address         'localhost'
        option serv_port_up           1680
        option serv_port_down         1680
        option keepalive_interval     10
        option stat_interval          30
        option push_timeout_ms        100
        option forward_crc_valid      true
        option forward_crc_error      false
        option forward_crc_disabled   false
